.navlinks {
    margin-left: 10px;
    display: flex;
}

.logo {
    flex-grow: 1;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.link:hover {
    color: rgb(132, 159, 177);
    border-bottom: 1px solid white;
}

.menu {
    background-color: rgb(164, 195, 226);
}

.linkMenu {
    text-decoration: none;
    color: rgb(3, 14, 40);
    font-size: 20px;
    margin-left: 20px;
}

.linkMenu:hover {
    color: rgb(3, 45, 74);
    border-bottom: 1px solid rgb(10, 23, 41);
}